In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline

In [9]:
insurance = pd.read_csv('insuranceData.csv') # reading the csv file
X = insurance.iloc[:, :-1].values # assigning age, bmi, children and smoker values to X
y = insurance.iloc[:, 4].values # assigning charges values to y
insurance.head() # display 5 top rows in the csv file

   age     bmi  children smoker      charges
0   19  27.900         0    yes  16884.92400
1   18  33.770         1     no   1725.55230
2   28  33.000         3     no   4449.46200
3   33  22.705         0     no  21984.47061
4   32  28.880         0     no   3866.85520

In [11]:
# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
labelencoder = LabelEncoder() 
X[:, 3] = labelencoder.fit_transform(X[:, 3]) # Applying labelEncoder to smoker column

onehotencoder = ColumnTransformer([("State", OneHotEncoder(), [3])], remainder="passthrough") # Applying One-Hot Encoding to categorical data
X = onehotencoder.fit_transform(X)

In [13]:
# Avoiding the Dummy Variable Trap
X = X[:, 1:]

In [15]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=0) # setting the test_size to 15%